:root {
    --light-theme-background-color: rgba(80, 120, 32, 0.6);
    --default-shadow-value: 0px 5px 20px rgba(0, 0, 0, 0.2);
    --dark-shadow-value: 0px 5px 20px rgba(0, 0, 0, 0.7);
    --gray-border-value: 1px solid #ced4da;
    --facebook-background-color-v1: #1877f2;
    --facebook-background-color-v2: #4665b5;

    --theme-color: #4c5b29;
    --lighter-theme-color: #507820;
    
    --white-background-color: #ffffff;
    --black-background-color: #000000;
    --default-background-color-hover: #f1f1f1;
    --darker-background-color: #3c5e2c;
    --gray-background-color: #d9d9d9;

    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --default-text-color: #232323;
    --lighter-text-color: #555555;

    --white-border-color: #ffffff;
    --black-border-color: #000000;
    --gray-border-color: #bebfc0;
    --theme-border-color: #3c5e2c;
    --white-border-value: 1px solid #ffffff;
    --black-border-value: 1px solid #000000;
    --light-border-value: 1px solid #dddddd;
    --dark-border-value: 1px solid #232323;
    --theme-border-value: 1px solid #3c5e2c;

    --default-input-text: #495057;

    --vt-palette-brown: #a16b56;
    --vt-palette-skin: #e0a370;
    --vt-palette-old: #dec584;
    --vt-palette-lightold: #f5f3eb;
    --vt-palette-ocean: #709f9d;
    --vt-palette-darkocean: #567d89;
}

@font-face {
    font-family: 'NittiTypewriter';
    src: url(../fonts/NittiTypewriter-21d2137501e11e71a7bc1d5f496a6b7f.otf);
}

@font-face {
    font-family: 'BeauLuloClean-OneBold';
    src: url(../fonts/BeauLuloClean-OneBold-4ce34c0eaf26a1818d6dc4bae56dbaf8.otf);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduce, .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce {
    width: 80%;
    min-height: calc(100vh - 110px);
    gap: 5%;
}

.main-content {
    width: 80%;
    min-height: 100vh;
}

.introduce .parabox > p {
    margin-bottom: 20px;
}

.main-content .parabox {
    width: 100%;
}

.main-content .parabox p {
    text-indent: 50px;
}

.parabox h2 {
    color: var(--theme-color);
    margin-bottom: 50px;
    text-shadow: -2px -2px var(--vt-palette-skin);
}


.parabox p {
    color: var(--theme-color);
    font-weight: bold;
}

.parabox p:nth-child(1) {
    margin-bottom: 20px;
}

.introduce .poem {
    display: flex;
    align-items: center;
    padding-top: 54px;
}

.introduce .poem img {
    width: 600px;
    box-shadow: var(--dark-shadow-value);
}

@media (max-width: 1250px) {
    .introduce .poem img {
        width: 400px;
    }
}

@media (max-width: 1000px) {
    .introduce, .main-content {
        flex-direction: column;
    }

    .main-content, .parabox {
        width: 100% !important;
        padding: 0 10px;
    }

    .header-right-nav {
        flex-direction: column;
    }

    .parabox {
        margin-bottom: 20px;
    }

    .introduce, .main-content {
        margin: 30px 0;
    }

    .parabox h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .parabox p {
        text-align: center;
        text-indent: 0 !important;
    }

    .introduce .parabox p {
        margin-bottom: 10px;
    }

    .introduce .poem {
        padding-top: 0;
    }

    .introduce .poem img {
        width: 100%;
    }
}