:root {
    --theme-color: #4c5b29;
    --lighter-theme-color: rgb(77, 91, 42);;
    
    --white-background-color: #ffffff;
    --black-background-color: #000000;
    --milky-background-color: rgb(249, 245, 229);
    --default-background-color-hover: #f1f1f1;
    --darker-background-color: #3c5e2c;
    --gray-background-color: #d9d9d9;
    --primary-background-color: rgb(181, 25, 31);

    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --milky-text-color: rgb(249, 245, 229);
    --primary-text-color: rgb(249, 209, 71);
    --primary-text-color-v2: rgb(181, 25, 31);
    --default-text-color: #232323;
    --lighter-text-color: #555555;

    --white-border-color: #ffffff;
    --black-border-color: #000000;
    --gray-border-color: #bebfc0;
    --theme-border-color: #3c5e2c;
    --white-border-value: 1px solid #ffffff;
    --black-border-value: 1px solid #000000;
    --gray-border-value: 1px solid #ced4da;
    --light-border-value: 1px solid #dddddd;
    --dark-border-value: 1px solid #232323;
    --theme-border-value: 1px solid #3c5e2c;

    --default-input-text: #495057;
    --default-body-color: rgb(234, 229, 218);

    --vt-palette-brown: #a16b56;
    --vt-palette-skin: #e0a370;
    --vt-palette-old: #dec584;
    --vt-palette-lightold: #f5f3eb;
    --vt-palette-ocean: #709f9d;
    --vt-palette-darkocean: #567d89;

    --default-text-shadow-value: rgb(0, 0, 0) 1px 1px 2px;
    --default-shadow-value: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

@font-face {
    font-family: 'NittiTypewriter';
    src: url(../fonts/NittiTypewriter-21d2137501e11e71a7bc1d5f496a6b7f.otf);
}
@font-face {
    font-family: 'BeauLuloClean-OneBold';
    src: url(../fonts/BeauLuloClean-OneBold-4ce34c0eaf26a1818d6dc4bae56dbaf8.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'NittiTypewriter', Arial, sans-serif;
    color: var(--default-text-color);
    background-color: var(--default-body-color);
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button {
    border: none;
    outline: 0;
    font-family: inherit;
}

img {
    user-select: none;
}

/* -----------------header----------------- */
.header {
    width: 100%;
    height: 65px;
    background-color: var(--lighter-theme-color);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 100%;
    margin: 0 20px;
}

.header .logo-box {
    margin-right: 20px;
}

.header .logo-box img {
    width: 150px;
}

.header .nav-list {
    display: flex;
}

.header .nav-cell {
    padding: 23px 20px;
    text-align: center;
}

.nav-cell a {
    font-size: 15px;
    letter-spacing: -1px;
    color: var(--milky-text-color);
    font-weight: bold;
    text-shadow: var(--default-text-shadow-value);
    cursor: pointer;
    transition: all 150ms linear 0s;
}

.nav-cell a:hover, .nav-cell a.active {
    color: var(--primary-text-color);
}

/* --------- member subcribe button zone --------- */

.mem-sub-button {
    width: fit-content;
    background-color: var(--primary-background-color);
    padding: 8px 15px;
    text-align: center;
    transition: all 0.2s ease;
}

.mem-sub-button a {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 14px;
    color: var(--milky-text-color);
    text-transform: uppercase;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mem-sub-button svg {
    width: 20px;
    height: 20px;
}

.header .mem-sub-button {
    margin-left: 20px;
}

.header .mem-sub-button:hover {
    background-color: var(--milky-text-color);
}

.header .mem-sub-button:hover a {
    color: var(--primary-background-color);
}

.container .mem-sub-button a {
    margin: 0 15px;
}

.container .mem-sub-button {
    margin-top: 40px;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    /* 0% { scale: 0.9; } */
    50% { scale: 1.1; }
    /* 100% { scale: 0.9; } */
}

/* ---------------container------------------ */

.container {
    width: 100%;
}

.section {
    min-height: calc(100vh + 1px);
}

.container .m-drop-icon {
    display: none;
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    cursor: pointer;
    z-index: 100;
    transition: all 0.58s ease;
    animation: electric 3s infinite;
}

@keyframes electric {
    33% {
        opacity: 0.9;
    }
    66% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.9;
    }
}

.container .m-drop-icon.active {
    margin-top: 200px;
    transform: translateX(-50%) rotate(180deg);
}

.container .m-drop-icon svg {
    width: 25px;
    height: 25px;
}

.container .m-nav-list {
    display: grid;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    padding-top: 65px;
    background-color: transparent;
    grid-template-rows: 0fr;
    transition: all 0.4s ease-in-out;
    > div {
        overflow: hidden;
    }
}

.container .m-nav-list .nav-cell {
    padding-bottom: 20px;
}

.container .m-nav-list.active {
    grid-template-rows: 1fr;
}

.container .nav-cell {
    width: 100%;
    text-align: center;
}

#QC {
    background-image: url('../images/khtv/qcbackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

#QC .QC-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#QC img {
    width: 60%;
    margin-bottom: 30px;
}

#QC .QC-inner > div {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#QC p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 24px;
    color: var(--milky-text-color);
    text-align: center;
}

#QUYENLOI {
    width: 100%;
    padding: 65px 0;
}

#QUYENLOI .QL-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

#QUYENLOI .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#QUYENLOI .tt {
    width: 45%;
    margin: 20px 0;
}

#QUYENLOI .tt p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 40px;
    color: var(--theme-color);
    letter-spacing: -5px;
}

#QUYENLOI .dc {
    width: 60%;
}

#QUYENLOI .dc p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--theme-color);
    letter-spacing: -1px;
}

#QUYENLOI .content-box {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

#QUYENLOI .content-box .img-wrapper {
    width: 540px;
    height: calc(80vh + 40px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QUYENLOI .content-box .img-pad {
    position: absolute;
    background-image: url("../images/khtv/table-img.jpg");
    width: 100%;
    height: 100%;
}

#QUYENLOI .content-box .img-box {
    position: absolute;
    width: calc(100% - 40px);
    height: 80vh;
    z-index: 100;
    overflow: hidden;
}

#QUYENLOI .img-box .background-img {
    background-image: url("../images/khtv/quyenloi.jpg");
    width: 1300px;
    height: 867px;
    position: absolute;
    right: -400px;
    bottom: 0;
}

#QUYENLOI .descript-box {
    margin-left: 50px;
}

#QUYENLOI .des-cell {
    display: flex;
    max-width: 550px;
    padding-bottom: 20px;
    border-bottom: var(--theme-border-value);
    margin-bottom: 20px;
}

#QUYENLOI .des-cell:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#QUYENLOI .des-cell > img {
    width: 57px;
    height: 55px;
    margin-right: 30px;
}

#QUYENLOI .des-cell p {
    line-height: 1.6;
}

#QUYENLOI .des-cell p:nth-child(1) {
    font-size: 20px;
    font-family: 'BeauLuloClean-OneBold';
    color: var(--primary-text-color-v2);
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

#QUYENLOI .des-cell p:nth-child(2) {
    font-size: 18px;
    color: var(--theme-color);
    letter-spacing: -1px;
} 

#CTKM {
    position: relative;
    background-image: url("../../assets/images/khtv/ctkmbackground.png");
}

#CTKM .CTKM-inner {
    width: 100%;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CTKM .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#CTKM .tt {
    margin-bottom: 20px;
}

#CTKM .tt p {
    font-size: 44px;
    color: var(--milky-text-color);
    font-family: 'BeauLuloClean-OneBold';
}

#CTKM .dc {
    max-width: 1000px;
}

#CTKM .dc p {
    font-size: 18px;
    color: var(--milky-text-color);
}

#CTKM .carousel {
    width: 100%;
    position: relative;
    margin-top: 40px;
}

#CTKM .carousel-inner {
    position: relative;
    max-width: 76vw;
    height: 600px;
    margin: auto;
    overflow: hidden;
}

#CTKM .carousel-pics {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

#CTKM .carousel-pics img {
    width: 1300px;
    max-width: 76vw;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

#CTKM .carousel-arr-left svg, #CTKM .carousel-arr-right svg {
    width: 50px;
    height: 50px;
}

#CTKM .carousel-arr-left, #CTKM .carousel-arr-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
    opacity: 0.7;
}

#CTKM .carousel-arr-left:hover, #CTKM .carousel-arr-right:hover {
    opacity: 1;
}

#CTKM .carousel-arr-left {
    left: 7%;
}

#CTKM .carousel-arr-right {
    right: 7%;
}

#CTKM .indicator-circle {
    width: 100%;
    display: flex;
    justify-content: center;
}

#CTKM .indicator-inner {
    display: flex;
    justify-content: space-between;
}

#CTKM .indicator-circle .item {
    width: 18px;
    height: 18px;
    border: var(--white-border-value);
    margin: 0 10px;
    border-radius: 30px;
    transition: 0.4s;
}

#CTKM .indicator-circle .item.active {
    width: 35px;
    background-color: var(--milky-background-color);
}

#CHINHSACH {
    width: 100%;
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CHINHSACH .CHINHSACH-background {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CHINHSACH img:nth-child(1) {
    margin: 20px 0;
    width: 75%;
}

#CHINHSACH img:nth-child(2) {
    margin-bottom: 40px;
    width: 100%;
}

#CHINHSACH .CHINHSACH-inner {
    width: 90%;
    line-height: 1.6;
}

#HUONGDANDK {
    width: 100%;
    position: relative;
    background-image: url("../../assets/images/khtv/ctkmbackground.png");
}

#HUONGDANDK .HUONGDANDK-inner {
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HUONGDANDK .hd-title {
    margin-top: 50px;
    width: 600px;
    text-align: center;
}

#HUONGDANDK .hd-title p:nth-child(1) {
    font-family: 'BeauLuloClean-OneBold';
    line-height: 1.4;
    font-size: 44px;
    color: var(--milky-text-color);
    letter-spacing: -5px;
    margin-bottom: 20px;
}

#HUONGDANDK .hd-title p:nth-child(2) {
    font-size: 18px;
    color: var(--milky-text-color);
    letter-spacing: -1px;
}

#HUONGDANDK .hd-content {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#HUONGDANDK .step1, #HUONGDANDK .step2 {
    margin-top: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HUONGDANDK .step-box {
    width: 104px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--milky-background-color);
}

#HUONGDANDK .step-box p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 16px;
    color: var(--primary-text-color-v2);
    letter-spacing: -2px;
}

#HUONGDANDK .step1 > p, #HUONGDANDK .step2 > p {
    height: 90px;
    color: var(--milky-text-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -1px;
    margin: 20px 0;
    text-align: center;
}

#HUONGDANDK .step1 img, #HUONGDANDK .step2 img {
    width: 350px;
}

#HUONGDANDK .step2 img {
    transform: translateX(30px);
}

#FAQs {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQs-inner {
    width: 90%;
    display: flex;
    justify-content: center;
}

#FAQs .quest-list {
    width: 57%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#FAQs .quest-list > h2 {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--theme-color);
    text-align: center;
}

#FAQs .quest-cell {
    width: 100%;
    border-bottom: var(--theme-border-value);
}

#FAQs .quest-cell .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#FAQs .quest-cell .icon-box {
    position: relative;
    display: flex;
    cursor: pointer;
}

#FAQs .icon-box > svg:nth-child(2) {
    position: absolute;
    transform: rotate(90deg);
}

#FAQs .title.active svg:nth-child(2) {
    display: none;
}

#FAQs .quest-cell .paragraph {
    display: grid;
    transition: 0.3s ease;
    grid-template-rows: 0fr;
    > div {
        overflow: hidden;
    }
}

#FAQs .paragraph.active {
    grid-template-rows: 1fr;
}

#FAQs .quest-cell .title p, #FAQs .quest-cell .paragraph p {
    font-size: 16px;
    color: var(--theme-color);
    padding: 20px 0;
    margin-right: 20px;
}

#FAQs .quest-cell .title {
    font-weight: bold;
}

#FAQs .quest-cell .paragraph p {
    text-indent: 30px;
    padding-top: 0px;
}

#FAQs .quest-list svg {
    width: 20px;
}

#FAQs .img-box {
    width: 500px;
}

#FAQs .img-box > img {
    width: 100%;
}

.footer {
    padding: 7px 0;
    width: 100%;
    background-color: var(--theme-color);
    text-align: center;
}

.footer p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 16px;
    color: var(--milky-text-color);
    letter-spacing: -2px;
}

.footer p span {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 24px;
    margin: 0 8px;
}

@media (max-width: 1000px) {
    .container .m-drop-icon {
        display: block;
    }

    .header .nav-cell, .header .mem-sub-button {
        display: none;
    }

    .logo-box {
        margin-right: 0 !important;
    }

    #QC p {
        font-size: 16px;
    }
    
    #QC .QC-inner {
        padding-top: 230px;
    }

    #QC .QC-inner > div {
        width: 400px;
    }

    #QUYENLOI .tt {
        width: 80%;
    }

    #QUYENLOI .content-box {
        flex-direction: column;
        align-items: center;
    }

    #QUYENLOI .content-box .img-wrapper {
        width: 100%;
        margin-bottom: 50px;
    }

    #QUYENLOI .descript-box {
        margin-left: 0;
    }
    
    #QUYENLOI .QL-inner {
        padding: 0;
    }

    #CTKM {

    }

    #CTKM .carousel-inner {
        height: 500px;
    }

    #CTKM .tt p {
        font-size: 44px;
    }

    #HUONGDANDK .hd-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    #HUONGDANDK .hd-title {
        width: 370px;
    }

    .FAQs-inner {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    #FAQs .quest-list {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 50px;
    }

    #FAQs .img-box {
        width: auto !important;
    }
}

@media (max-width: 480px) {
    #QC img {
        width: 300px;
    }

    #QC .QC-inner > div {
        width: 300px;
    }

    #CTKM .carousel-inner {
        height: 300px;
    }

    #CTKM .carousel-arr-left {
        left: 0;
    }

    #CTKM .carousel-arr-right {
        right: 0;
    }

    #QUYENLOI .content-box {
        width: 100%;
    }

    #QUYENLOI .descript-box {
        width: 300px;
        margin-left: 0;
    }

    #CHINHSACH .CHINHSACH-background {
        width: 98%;
    }
}

@media (max-height: 700px) {
    .container .m-nav-list .nav-cell {
        padding: 0 0 20px 0 !important;
    }

    .container .m-drop-icon.active {
        margin-top: 180px !important;
    }
}