:root {
    --theme-color: #4c5b29;
    --lighter-theme-color: rgb(77, 91, 42);;
    
    --white-background-color: #ffffff;
    --black-background-color: #000000;
    --milky-background-color: rgb(249, 245, 229);
    --default-background-color-hover: #f1f1f1;
    --darker-background-color: #3c5e2c;
    --gray-background-color: #d9d9d9;
    --primary-background-color: rgb(181, 25, 31);

    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --milky-text-color: rgb(249, 245, 229);
    --primary-text-color: rgb(249, 209, 71);
    --primary-text-color-v2: rgb(181, 25, 31);
    --default-text-color: #232323;
    --lighter-text-color: #555555;

    --white-border-color: #ffffff;
    --black-border-color: #000000;
    --gray-border-color: #bebfc0;
    --theme-border-color: #3c5e2c;
    --white-border-value: 1px solid #ffffff;
    --black-border-value: 1px solid #000000;
    --gray-border-value: 1px solid #ced4da;
    --light-border-value: 1px solid #dddddd;
    --dark-border-value: 1px solid #232323;
    --theme-border-value: 1px solid #3c5e2c;

    --default-input-text: #495057;
    --default-body-color: rgb(234, 229, 218);

    --vt-palette-brown: #a16b56;
    --vt-palette-skin: #e0a370;
    --vt-palette-old: #dec584;
    --vt-palette-lightold: #f5f3eb;
    --vt-palette-ocean: #709f9d;
    --vt-palette-darkocean: #567d89;

    --default-text-shadow-value: rgb(0, 0, 0) 1px 1px 2px;
    --default-shadow-value: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

@font-face {
    font-family: 'NittiTypewriter';
    src: url(../fonts/NittiTypewriter-21d2137501e11e71a7bc1d5f496a6b7f.otf);
}
@font-face {
    font-family: 'BeauLuloClean-OneBold';
    src: url(../fonts/BeauLuloClean-OneBold-4ce34c0eaf26a1818d6dc4bae56dbaf8.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'NittiTypewriter', Arial, sans-serif;
    color: var(--default-text-color);
    background-color: var(--default-body-color);
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button {
    border: none;
    outline: 0;
    font-family: inherit;
}

/* -----------------header----------------- */
.header {
    width: 100%;
    height: 65px;
    background-color: var(--lighter-theme-color);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 100%;
    margin: 0 20px;
}

.header .logo-box {
    margin-right: 20px;
}

.header .logo-box img {
    width: 150px;
}

.header .nav-list {
    display: flex;
}

.header .nav-cell {
    padding: 23px 20px;
    text-align: center;
}

.nav-cell p {
    font-size: 15px;
    letter-spacing: -1px;
    color: var(--milky-text-color);
    font-weight: bold;
    text-shadow: var(--default-text-shadow-value);
    cursor: pointer;
    transition: all 150ms linear 0s;
}

.nav-cell p:hover {
    color: var(--primary-text-color);
}

/* --------- member subcribe button zone --------- */

.mem-sub-button {
    width: fit-content;
    background-color: var(--primary-background-color);
    padding: 8px 15px;
    text-align: center;
    transition: all 0.2s ease;
}

.mem-sub-button a {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 14px;
    color: var(--milky-text-color);
    text-transform: uppercase;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mem-sub-button svg {
    width: 20px;
    height: 20px;
}

.header .mem-sub-button {
    margin-left: 20px;
}

.header .mem-sub-button:hover {
    background-color: var(--milky-text-color);
}

.header .mem-sub-button:hover a {
    color: var(--primary-background-color);
}

.container .mem-sub-button a {
    margin: 0 15px;
}

.container .mem-sub-button {
    margin-top: 40px;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    /* 0% { scale: 0.9; } */
    50% { scale: 1.1; }
    /* 100% { scale: 0.9; } */
}

/* ---------------container------------------ */

.container {
    padding-top: 65px;
}

#QC {
    height: calc(100vh - 65px);
    background-image: url('../images/khtv/qcbackground.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}

#QC .QC-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#QC img {
    width: 60%;
    margin-bottom: 30px;
}

#QC .QC-inner > div {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#QC p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 24px;
    color: var(--milky-text-color);
    text-align: center;
}

#QUYENLOI {
    width: 100%;
    /* sign: uni7mau */
}

#QUYENLOI .QL-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

#QUYENLOI .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#QUYENLOI .tt {
    width: 45%;
    margin: 20px 0;
}

#QUYENLOI .tt p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 40px;
    color: var(--theme-color);
    letter-spacing: -5px;
}

#QUYENLOI .dc {
    width: 60%;
}

#QUYENLOI .dc p {
    font-size: 18px;
    line-height: 1.6;
    color: var(--theme-color);
    letter-spacing: -1px;
}

#QUYENLOI .content-box {
    display: flex;
    align-items: center;
    margin: 50px 0;
}

#QUYENLOI .content-box .img-wrapper {
    width: 540px;
    height: calc(80vh + 40px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QUYENLOI .content-box .img-pad {
    position: absolute;
    background-image: url("../images/khtv/table-img.jpg");
    width: 100%;
    height: 100%;
}

#QUYENLOI .content-box .img-box {
    position: absolute;
    width: calc(100% - 40px);
    height: 80vh;
    z-index: 100;
    overflow: hidden;
}

#QUYENLOI .img-box .background-img {
    background-image: url("../images/khtv/quyenloi.jpg");
    width: 1300px;
    height: 867px;
    position: absolute;
    right: -400px;
    bottom: 0;
}

#QUYENLOI .descript-box {
    margin-left: 50px;
}

#QUYENLOI .des-cell {
    display: flex;
    max-width: 550px;
    padding-bottom: 20px;
    border-bottom: var(--theme-border-value);
    margin-bottom: 20px;
}

#QUYENLOI .des-cell:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#QUYENLOI .des-cell > img {
    width: 57px;
    height: 55px;
    margin-right: 30px;
}

#QUYENLOI .des-cell p {
    line-height: 1.6;
}

#QUYENLOI .des-cell p:nth-child(1) {
    font-size: 20px;
    font-family: 'BeauLuloClean-OneBold';
    color: var(--primary-text-color-v2);
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

#QUYENLOI .des-cell p:nth-child(2) {
    font-size: 18px;
    color: var(--theme-color);
    letter-spacing: -1px;
} 


#CTKM {
    position: relative;
    height: 124vh;
    background-image: url("../../assets/images/khtv/ctkmbackground.png");
}

#CTKM .CTKM-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CTKM .title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#CTKM .tt {
    margin: 50px 0 20px;
}

#CTKM .tt p {
    font-size: 44px;
    color: var(--milky-text-color);
    font-family: 'BeauLuloClean-OneBold';
}

#CTKM .dc {
    max-width: 1000px;
}

#CTKM .dc p {
    font-size: 18px;
    color: var(--milky-text-color);
}

#CTKM .carousel {
    width: 100%;
    margin-top: 40px;
}

#CTKM .carousel-inner {
    display: flex;
    justify-content: center;
    position: relative;
}

#CTKM .carousel-pics {
    display: flex;
    justify-content: center;
    width: 75%;
    overflow: hidden;
}

#CTKM .carousel-item {
}

#CTKM .carousel-item img {
    width: 1300px;
    height: 630px;
}

#CTKM .carousel-arr-left svg, #CTKM .carousel-arr-right svg {
    width: 50px;
    height: 50px;
}

#CTKM .carousel-arr-left, #CTKM .carousel-arr-right {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    cursor: pointer;
}

#CTKM .carousel-arr-left {
    left: 7%;
}

#CTKM .carousel-arr-right {
    right: 7%;
}

#CTKM .indicator-circle {
    width: 80px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

#CTKM .indicator-circle .item {
    width: 15px;
    height: 15px;
    border: var(--white-border-value);
    border-radius: 50%;
}

#CTKM .indicator-circle .item.active {
    background-color: var(--milky-text-color);
}

#CHINHSACH {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CHINHSACH .CHINHSACH-background {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#CHINHSACH img:nth-child(1) {
    margin: 20px 0;
    width: 75%;
}

#CHINHSACH img:nth-child(2) {
    margin-bottom: 50px;
    width: 100%;
}

#CHINHSACH .CHINHSACH-inner {
    width: 90%;
    margin-bottom: 20px;
}

#HUONGDANDK {
    width: 100%;
    position: relative;
    background-image: url("../../assets/images/khtv/ctkmbackground.png");
}

#HUONGDANDK .HUONGDANDK-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HUONGDANDK .hd-title {
    margin-top: 50px;
    width: 600px;
    text-align: center;
}

#HUONGDANDK .hd-title p:nth-child(1) {
    font-family: 'BeauLuloClean-OneBold';
    line-height: 1.4;
    font-size: 44px;
    color: var(--milky-text-color);
    letter-spacing: -5px;
    margin-bottom: 20px;
}

#HUONGDANDK .hd-title p:nth-child(2) {
    font-size: 18px;
    color: var(--milky-text-color);
    letter-spacing: -1px;
}

#HUONGDANDK .hd-content {
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#HUONGDANDK .step1, #HUONGDANDK .step2 {
    margin-top: 40px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HUONGDANDK .step-box {
    width: 104px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--milky-background-color);
}

#HUONGDANDK .step-box p {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 16px;
    color: var(--primary-text-color-v2);
    letter-spacing: -2px;
}

#HUONGDANDK .step1 > p, #HUONGDANDK .step2 > p {
    height: 90px;
    color: var(--milky-text-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: -1px;
    margin: 20px 0;
    text-align: center;
}

#HUONGDANDK .step1 img, #HUONGDANDK .step2 img {
    width: 350px;
}

#HUONGDANDK .step2 img {
    transform: translateX(30px);
}

.footer {
    min-height: calc(100vh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    width: 90%;
    display: flex;
    justify-content: center;
}

.footer .quest-list {
    width: 57%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .quest-list > h2 {
    font-family: 'BeauLuloClean-OneBold';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--theme-color);
    text-align: center;
}

.footer .quest-cell {
    width: 100%;
    border-bottom: var(--theme-border-value);
}

.quest-cell .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quest-cell .icon-box {
    position: relative;
    display: flex;
}

.icon-box > svg:nth-child(2) {
    position: absolute;
    transform: rotate(90deg);
}

.title.active svg:nth-child(2) {
    display: none;
}

.quest-cell .paragraph {
    display: grid;
    transition: 0.3s ease;
    grid-template-rows: 0fr;
    > div {
        overflow: hidden;
    }
}

.paragraph.active {
    grid-template-rows: 1fr;
}

.quest-cell .title p, .quest-cell .paragraph p {
    font-size: 16px;
    color: var(--theme-color);
    padding: 20px 0;
    margin-right: 20px;
}

.quest-cell .title {
    font-weight: bold;
}

.quest-cell .paragraph p {
    text-indent: 30px;
    padding-top: 0px;
}

.footer .quest-list svg {
    width: 20px;
}

.footer .img-box {
    width: 500px;
}

.footer .img-box > img {
    width: 100%;
}

@media (max-width: 1000px) {
    .header .nav-cell, .header .mem-sub-button {
        display: none;
    }

    .logo-box {
        margin-right: 0 !important;
    }

    #QC p {
        font-size: 16px;
    }
    
    #QC .QC-inner {
        padding-top: 230px;
    }

    #QC .QC-inner > div {
        width: 400px;
    }

    #QUYENLOI .tt {
        width: 80%;
    }

    #QUYENLOI .content-box {
        flex-direction: column;
        align-items: center;
    }

    #QUYENLOI .content-box .img-wrapper {
        width: 100%;
        margin-bottom: 50px;
    }

    #QUYENLOI .descript-box {
        margin-left: 0;
    }
    
    #QUYENLOI .QL-inner {
        padding: 0;
    }

    #CTKM {
        height: 100vh;
    }

    #CTKM .tt p {
        font-size: 44px;
    }

    #CTKM .carousel-item img {
        width: 100%;
        height: 100%;
    }

    #HUONGDANDK .hd-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }

    #HUONGDANDK .hd-title {
        width: 370px;
    }

    .footer-inner {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    .quest-list {
        width: 100% !important;
        margin-right: 0 !important;
        margin-bottom: 50px;
    }

    .footer .img-box {
        width: auto !important;
    }
}

@media (max-width: 480px) {
    #QC img {
        width: 300px;
    }

    #QC .QC-inner > div {
        width: 300px;
    }

    #CTKM {
        height: 128vh;
    }

    #CTKM .carousel-arr-left {
        left: 0;
    }

    #CTKM .carousel-arr-right {
        right: 0;
    }

    #QUYENLOI .content-box {
        width: 100%;
    }

    #QUYENLOI .descript-box {
        width: 300px;
        margin-left: 0;
    }

    #CHINHSACH .CHINHSACH-background {
        width: 100%;
    }
}