.title h2{
    text-align: center;
    padding-top: 30px;
    margin: 0px 0 30px;
    font-size: 16px;
    border-top: 1px solid rgba(60, 94, 44, 0.1);
    color: #3c5e2c;
    font-family: 'BeauLuloClean-OneBold';
    font-weight: 600;

}
.bannerCover{
    background-attachment:  fixed !important;
    position: relative;
    background: url(../images/lienhe/franchising-8d95bb26fa189bd11bc19515c4a91d01.jpg) center center / cover no-repeat;
}



.companyAddress{
    margin: 20px 0;
    padding: 0;
    padding-right: 0;
}
.contact .heroText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 3;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    min-height: 25.5rem;
}

.contact .contactDetail{
    padding-bottom: 0;
    border: none;
}

@media screen (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

.contactDetail{
    padding: 40px 0 40px;
    margin-bottom: 30px;
    line-height: 20px;

}

.container-th{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.franchising-title{
    line-height: 100%;
    font-family: 'BeauLuloClean-OneBold';
    color: #351F11;
    font-size: 22px;
    font-weight: bold;
}

.companyAddress p{
    color: #232323;
    line-height: 1.7;
    font-weight: 400;
}

.contact img{
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.franchising-div{
    
    background-color: #4c5b29;
    line-height: 35px;
    padding: 30px;
    color: #fff;
}

.franchising-div h2{
    font-family: 'BeauLuloClean-OneBold';
    font-size: 18px;
    

}

.franchising-div ul{
    font-size: 14px;
    margin-left: 20px;
}


.franchising-div li{
    list-style: disc;
    font: inherit;
    padding: 0;
    margin: 0;
}

.franchising-box-will{
    height: 310px;
}

.title-even{
    text-align: center;
}

.franchising-button{
    margin-top: 30px;
    background-color: #4c5b29;
    border: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 16px;
    padding: 10px 50px;
    text-align: center;
    margin-bottom: 30px;
}

