.product-detail{
    display: flex;
}

.product-detail input {
    text-align: center;
    border: 1px solid #d9d9d9;
    transform: translateX(20px);
}

.add-to-cart-btn {
    background-color: #a2cfaa;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.add-to-cart-btn:hover {
    background-color: #56926f;
}
