.product-detail{
    display: flex;
}
.add-to-cart-btn {
    background-color: #a2cfaa;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    background-color: #56926f;
}
