:root {
    --theme-color: #405d17;
    
    --white-background-color: #ffffff;
    --black-background-color: #000000;
    --foam-background-color: #f3f3f3;
    --blur-background-color: rgba(3, 17, 27, 0.7);
    --dark-opacity-background-color: rgba(0, 0, 0, .3);
    --gray-background-color: #f5f6f7;
    --lighter-gray-background-color: #fbfbfb;
    --dark-hover-background-color: rgba(0, 0, 0, .6);

    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --dark-text-color-v1: #252a2b;
    --dark-text-color-v2: #4b4f56;
    --dark-text-color-v3: #333;
    --gray-text-color-v1: #677279;
    --theme-text-color: #405d17;

    --text-primary-color-v1: red;
    --text-primary-color-v2: #2962ff;

    --white-border-color: #ffffff;
    --black-border-color: #000000;
    --theme-border-color: #405d17;

    --white-border-value: 1px solid #ffffff;
    --black-border-value: 1px solid #000000;
    --light-border-value-v1: 1px solid #e7e7e7;
    --dialog-border-value: 1px solid #dfe3e8;

    --thin-gray-line-value: 1px solid #ececec;
    --thick-gray-line-value: 2px solid #5c5c5c;

    --gray-border-value: 1px solid #ececec;
    --default-border-value: 1px solid #d4d6d8;

    --default-header-shadow-value: 0 0 10px rgba(0, 0, 0, 0.2);
    --default-box-border-value: 1px solid rgba(0, 0, 0, 0.12);
    --default-box-shadow-value: 0 1px 6px rgba(0, 0, 0, 0.5);
    --default-shadow-value: 0 5px 15px rgba(0, 0, 0, 0.5);
    --default-text-shadow-value: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.container {
    padding: 72px 0;
    min-height: 80vh;
    position: relative;
    z-index: 99;
}

.breadcrumb {
    background: #f5f5f5;
    padding: 0 15px;
}

.breadcrumb p {
    padding: 10px 0;
}

@media (max-width: 767px) {
    .breadcrumb p {
        padding: 10px 0 5px;
    }
}