:root {
    --theme-color: #405d17;
    
    --white-background-color: #ffffff;
    --black-background-color: #000000;
    --foam-background-color: #f3f3f3;
    --blur-background-color: rgba(3, 17, 27, 0.7);
    --dark-opacity-background-color: rgba(0, 0, 0, .3);
    --gray-background-color: #f5f6f7;
    --lighter-gray-background-color: #fbfbfb;
    --dark-hover-background-color: rgba(0, 0, 0, .6);

    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --dark-text-color-v1: #252a2b;
    --dark-text-color-v2: #4b4f56;
    --dark-text-color-v3: #333;
    --gray-text-color-v1: #677279;
    --theme-text-color: #405d17;

    --text-primary-color-v1: red;
    --text-primary-color-v2: #2962ff;

    --white-border-color: #ffffff;
    --black-border-color: #000000;
    --theme-border-color: #405d17;

    --white-border-value: 1px solid #ffffff;
    --black-border-value: 1px solid #000000;
    --light-border-value-v1: 1px solid #e7e7e7;
    --dialog-border-value: 1px solid #dfe3e8;

    --thin-gray-line-value: 1px solid #ececec;
    --thick-gray-line-value: 2px solid #5c5c5c;

    --gray-border-value: 1px solid #ececec;
    --default-border-value: 1px solid #d4d6d8;

    --default-header-shadow-value: 0 0 10px rgba(0, 0, 0, 0.2);
    --default-box-border-value: 1px solid rgba(0, 0, 0, 0.12);
    --default-box-shadow-value: 0 1px 6px rgba(0, 0, 0, 0.5);
    --default-shadow-value: 0 5px 15px rgba(0, 0, 0, 0.5);
    --default-text-shadow-value: 0 2px 4px rgba(0, 0, 0, 0.9);

    --opacity-box-shadow-value: 2px 4px 12px rgba(0, 0, 0, .1);
    --opacity-box-shadow-value-v2: 0 1px 5px 2px rgba(0, 0, 0, 0.1);

    --CO-gray-background-color: #f3f5f6;
    --CO-gray-border-value: 1px solid #e7ebec;
    --CO--gray-line-color: #e1e3e4;
    --CO-theme-border-value: 1px solid #405d17;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif !important;
}

body {
    font-size: 14px;
    color: var(--dark-text-color-v3);
    line-height: 1.4;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

input, button {
    border: none;
    outline: 0;
    font-family: inherit;
}

/* //////////////////Start from here/////////////////// */

.modal-contact-wrapper {
    position: fixed;
    z-index: 999999;
    opacity: 0;
    display: block;
    background: var(--blur-background-color);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    transition: opacity 0.4s ease-out;
}

.modal-contact-wrapper::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fade.in {
    opacity: 1;
}
.modal-contact-wrapper.fade.in .modal-contact {
    position: relative;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
    margin: 30px auto 50px;
    box-shadow: var(--default-shadow-value);
    text-align: left;
    transition: all 0.4s ease-in-out
}

@media (min-width: 768px) {
    .modal-contact-wrapper.fade.in .modal-contact {
        width: 650px;
    }
}
@media (max-width: 767px) {
    .modal-contact-inner::before {
        width: 100% !important;
    }

    .modal-contact .descript {
        width: 100% !important;
    }
}
@media (max-width: 505px) {
    .modal-contact-wrapper.fade.in .modal-contact {
        width: 350px;
    }
}
@media (max-width: 349px) {
    .modal-contact-wrapper.fade.in .modal-contact {
        width: 310px;
    }

    .m-left-header {
        margin-right: 20% !important;
    }

    .top-footer .left {
        padding: 0 !important;
    }
}



.modal-contact-inner {
    width: 100%;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    background-image: url("../../assets/images/quaymaudich/modal-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
}

.modal-contact-inner::before {
    content: "";
    width: 58%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--foam-background-color);
    opacity: 0.75;
}

.modal-contact .descript {
    width: 58%;
    height: 100%;
    position: relative;
    float: right;
    padding: 50px 25px 30px;
    color: var(--dark-text-color-v3);
}

.modal-contact button:nth-child(1) {
    background-color: var(--dark-opacity-background-color);
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    cursor: pointer;
}

.modal-contact button:nth-child(1):hover {
    background-color: var(--dark-hover-background-color);
}

.modal-contact button:nth-child(1) svg {
    height: 30px;
    width: 14px;    
}

.modal-contact .descript .modal-contact-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--dark-text-color-v1);
    line-height: 1.2;
}

.modal-contact .descript p {
    font-size: 14px;
    margin-bottom: 5px;
}

.modal-contact .descript ul {
    margin-bottom: 25px;
}

.modal-contact .descript li {
    font-size: 14px;
    margin-left: 25px;
    list-style-type: disc;
}

.modal-contact .descript input {
    width: 100%;
    margin-bottom: 15px;
    height: 45px;
    padding: 10px 20px;
    line-height: 25px;
    background: var(--white-background-color);
    border: var(--light-border-value-v1);
    font-weight: 500;
    color: var(--dark-text-color-v1);
}

::placeholder() {
    color: var(--dark-text-color-v1);
}

.modal-contact .descript .send-email-button {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 45px;
    margin-bottom: 8px;
    padding: 10px 20px;
    border: var(--light-border-value-v1);
    border-color: var(--theme-border-color);
    color: var(--white-text-color);
    line-height: 25px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.modal-contact .send-email-button:hover {
    background-color: var(--white-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-text-color);
}

.modal-contact .send-email-button:hover:before {
    transform: scale(0, 1);
    transform-origin: right center;
}

.modal-contact .send-email-button::before {
    background-color: var(--theme-color);
    position: absolute;
    z-index: -1;
    transform-origin: left center;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.modal-contact .descript .success-popup {
    font-size: 13px;
    min-height: 25px;
    visibility: hidden;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
}

/* //--------------header-------------------// */

.header {
    display: block;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--white-background-color);
    box-shadow: var(--default-header-shadow-value);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

@media (min-width: 1200px) {
    .header-inner {
        max-width: 1600px;
        padding: 0 82px;
    }
}

.m-left-header {
    margin-right: 10%;
    display: none;
    position: relative;
}

.m-popup-icon {
    display: none;
    cursor: pointer;
}
    
.bar {
    width: 25px;
    height: 3px;
    background-color: var(--theme-color);
    margin: 5px 0;
    transition: 0.4s;
}

.m-popup-icon.active .bar1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}
.m-popup-icon.active .bar2 {
    opacity: 0;
}
.m-popup-icon.active .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
}

.m-left-dropdown svg {
    width: 25px;
}

.m-left-dropdown {
    position: absolute;
    background-color: var(--white-background-color);
    box-shadow: var(--opacity-box-shadow-value-v2);
    top: calc(100% + 25px);
    bottom: 0;
    left: -15px;
    width: 100vw;
    height: calc(100vh - 80px);
    z-index: 989;
    min-width: 280px;
    border-radius: 3px;
    color: var(--gray-text-color-v1);
    border: var(--dialog-border-value);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
}

.m-left-dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
}

.m-left-dropdown .triangle {
    left: 15px;
}

.m-left-dropdown .dropdown-dialog-inner {
    width: 100%;
    height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.m-left-header .m-left-nav-list {
    background: var(--white-background-color);
}

.m-left-nav-list .m-left-nav-cell {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
}

.m-left-nav-list .m-left-nav-cell a {
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-text-color-v1);
}

.m-left-nav-list .m-left-nav-cell p {
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-text-color-v1);
}

.m-left-nav-list .m-left-nav-cell a svg {
    width: 8px;
    height: 19px;
    position: absolute;
    right: 10px;
    top: 50%;
    color: #757575;
    transform: translateY(-50%);
}

.m-left-dropdown .support-expand {
    padding: 16px 0;
}

.m-left-dropdown .support-expand > p {
    font-size: 15px;
    color: var(--dark-text-color-v1);
    line-height: 1.85;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

.m-left-dropdown .support-expand .phone-help, .m-left-dropdown .support-expand .email-help {
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 0;
}

.m-left-dropdown .support-expand .phone-help svg, .m-left-dropdown .support-expand .email-help svg {
    margin-right: 20px;
}

.m-left-dropdown .support-expand .phone-help p, .m-left-dropdown .support-expand .email-help p {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-text-color-v1);
}

.main-slide.active {
    transform: translateX(-100%);
} 

.sub-slide-bst.active, .sub-slide-coffee.active, .sub-slide-dv.active {
    transform: translateX(100%);
}

.main-slide, .sub-slide-bst, .sub-slide-coffee, .sub-slide-dv {
    position: absolute;
    z-index: 200;
    width: 100%;
    transition: all 0.5s;
    padding: 20px 15px;
}

.main-slide {
    transform: translateX(0);
}

.sub-slide-bst, .sub-slide-coffee, .sub-slide-dv {
    transform: translateX(0);
}

.m-left-dropdown .m-sub-back-button {
    color: #000000;
    background: #fff;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

.m-nav {
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid #e1e3e4;
}

.m-nav a {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 14px;
    font-weight: 300;
    color: var(--dark-text-color-v1);
}

.header-left {
    padding: 0 15px;
}

@media (min-width: 992px) {
    .header-left {
        min-width: 150px;
    }
}

.header-left img {
    width: 70px;
}

.header-middle .nav-wrapper, .header-middle .nav-cell {
    display: flex;
    align-items: center;
}

.nav-cell {
    z-index: 10;
}

.nav-cell > a {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    padding: 25px 0px;
    margin: 0 12px;
    color: var(--dark-text-color-v1);
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .nav-cell a {
        font-size: 14px;
        margin: 0 10px;
    }
}

.nav-cell:nth-child(3) > a::before,
.nav-cell:nth-child(5) > a::before,
.nav-cell:nth-child(6) > a::before,
.nav-cell:nth-child(7) > a::before,
.nav-cell:nth-child(8) > a::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    transform-origin: left center;
    transform: scale(0, 1);
    border-bottom: 2px solid var(--theme-color);
    transition: transform 0.3s, opacity 0.3s;
}

.nav-cell > a:hover::before {
    transform: scale(1, 1);
}

.nav-cell > a:hover {
    color: var(--theme-text-color);
}

.nav-cell > a:hover svg {
    transform: rotate(180deg);
    fill: var(--theme-text-color);
}

.nav-cell svg {
    width: 12px;
    height: 12px;
    margin-left: 4px;
}

.dropdown-menu {
    position: absolute;
    z-index: 20;
    opacity: 0;
    top: 69px;
    border-top: var(--thick-gray-line-value);
    background-color: var(--white-background-color);
    box-shadow: var(--opacity-box-shadow-value);
    transition: all 0.4s ease-in-out;
    display: grid;
    grid-template-rows: 0fr;
    > div {
        overflow: hidden;
    }
}

.nav-cell:hover .dropdown-menu {
    opacity: 1;
    grid-template-rows: 1fr;
}

.dropdown-menu li {
    padding: 9px 18px;
    border-top: var(--light-border-value-v1);
}

.dropdown-menu a {
    text-align: left;
    font-size: 14px;
    color: var(--dark-text-color-v1);
}

.dropdown-menu a:hover {
    color: var(--theme-text-color);
    text-decoration: underline;
}

@media (max-width: 420px) {
    .tools-wrapper .item:nth-child(2) {
        margin-left: 0;
    }
}

.header-right svg {
    width: 23px;
}

.tools-wrapper {
    display: flex;
    align-items: center;
}

.tools-wrapper .item {
    margin-left: 12px;
    position: relative;
}

.tools-wrapper .item svg {
    cursor: pointer;
    user-select: none;
}

.tools-wrapper .item > div:nth-child(1) {
    width: 32px;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-drop-button {
    position: relative;
}

@media (max-width: 991px) {
    .search-drop-button {
        display: none !important;
    }     
}

.search-dropdown {
    position: absolute;
    background-color: var(--white-background-color);
    box-shadow: var(--opacity-box-shadow-value-v2);
    top: calc(100% + 15px);
    right: -98px;
    z-index: 990;
    min-width: 280px;
    border-radius: 3px;
    color: var(--gray-text-color-v1);
    border: var(--dialog-border-value);

    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
}

@media (min-width: 992px) {
    .search-dropdown {
        width: 400px;
    }
}

.search-dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
}

.triangle {
    position: absolute;
    bottom: calc(100% - 5px);
    width: 22px;
    height: 15px;
}

.search-dropdown .triangle {
    right: 108px;
}

.account-dropdown .triangle {
    right: 66px;
}

.cart-dropdown .triangle {
    right: 24px;
}

.triangle svg {
    filter: drop-shadow(0 -3px 2px rgba(0, 0, 0, 0.12));
}

@media (max-width: 991px) {
    .account-dropdown .triangle {
        right: 69px;
    }

    .cart-dropdown .triangle {
        right: 25px;
    }
}

.search-dropdown .dropdown-dialog-inner {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 20px 15px;
}

.search-dropdown .title {
    margin: 0 0 20px;
    padding: 6px 10px;
    border-bottom: var(--light-border-value-v1);
}

.search-dropdown .title p {
    font-size: 17px;
    color: var(--dark-text-color-v1);
    letter-spacing: 0.5px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.search-dropdown .dropdown-dialog-inner {
    position: relative;
    margin-bottom: 15px;
}

.search-dropdown .site-search {
    position: relative;
}

.search-dropdown input {
    background-color: var(--foam-background-color);
    border: var(--gray-border-value);
    color: var(--dark-text-color-v1);
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 45px;
    padding: 0 55px 0 20px;
    transition: all 0.15s linear;
}

.search-dropdown input:focus {
    background-color: var(--white-background-color);
    border-color: var(--theme-border-color);
}

.search-dropdown button {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background: transparent;
    transition: all 0.15s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-dropdown button svg {
    opacity: 0.4;
}

.account-dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
}

.account-dropdown {
    position: absolute;
    background-color: var(--white-background-color);
    box-shadow: var(--opacity-box-shadow-value-v2);
    top: calc(100% + 15px);
    right: -56px;
    z-index: 991;
    min-width: 280px;
    border-radius: 3px;
    color: var(--gray-text-color-v1);
    border: var(--dialog-border-value);
    font-size: 12px;

    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
}

@media (min-width: 992px) {
    .account-dropdown {
        width: 340px;
    }
}

@media (max-width: 991px) {
    .account-dropdown {
        top: calc(100% + 19px);
        bottom: 0;
        right: -59px;
        width: 100vw;
        height: calc(100vh - 80px);
    }
}

.account-dropdown .dropdown-dialog-inner {
    width: 100%;
    height: 100%;
    padding: 20px 15px;
    overflow: hidden;
}

.account-dropdown .account-panel-list {
    height: 100%;
    position: relative;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}

.account-dropdown .login-panel {
    visibility: visible;
    transform: translateX(0);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.account-dropdown .login-panel.change {
    visibility: hidden;
    transform: translateX(calc(-100% - 15px));
}

.account-dropdown .title {
    text-align: center;
}

.account-dropdown .title h2 {
    color: var(--dark-text-color-v1);
    font-size: 17px;
    margin-bottom: 4px;
    font-weight: 500;
    text-transform: uppercase;
}

.account-dropdown .title p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 21px;
}

.account-dropdown .input-box > div {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.account-dropdown .input-box input {
    padding: 14px 10px 3px;
    border-radius: 2px;
    border: var(--default-border-value);
    width: 100%;
    height: 42px;
    font-size: 12px;
    box-shadow: 0 1px rgba(212, 214, 216, 0.25) inset;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;

    position: relative;
}

.account-dropdown .input-box .floating-label {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 42px;
    font-size: 12px;
    font-weight: 700;
    color: var(--gray-text-color-v1);
    
    transform: scale(1);
    transform-origin: left top;
    transition: transform 0.2s ease-in-out;
}

.account-dropdown .input-box input:focus ~ .floating-label {
    transform: translateY(-6px) scale(0.8);
}


.account-dropdown .secondary-box {
    margin-top: 16px;
    text-align: center;
}

.account-dropdown .secondary-box p {
    margin-bottom: 4px;
    line-height: 21px;
}

.account-dropdown .secondary-box a, .account-dropdown .secondary-box button {
    color: var(--theme-text-color);
    cursor: pointer;
    background: transparent;
    font-size: 12px;
}

.account-dropdown .secondary-box a:hover, .account-dropdown .secondary-box button:hover {
    text-decoration: underline;
}

.account-dropdown .input-box p {
    margin-bottom: 12px;
}

.account-dropdown .input-box p a {
    color: var(--text-primary-color-v2);
    cursor: pointer;
}

.account-dropdown .submit-button {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 45px;
    margin-bottom: 8px;
    padding: 10px 20px;
    border: var(--light-border-value-v1);
    border-color: var(--theme-border-color);
    color: var(--white-text-color);
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.account-dropdown .submit-button:hover {
    background-color: var(--white-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-text-color);
}

.account-dropdown .submit-button:hover::before {
    transform: scale(0, 1);
    transform-origin: right center;
}

.account-dropdown .submit-button::before {
    background-color: var(--theme-color);
    position: absolute;
    z-index: -1;
    transform-origin: left center;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.recovery-panel {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1), visibility 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.recovery-panel.change {
    visibility: visible;
    transform: translateX(0);
}

.cart-dropdown {
    position: absolute;
    background-color: var(--white-background-color);
    box-shadow: var(--opacity-box-shadow-value-v2);
    top: calc(100% + 15px);
    right: -15px;
    z-index: 999;
    min-width: 280px;
    border-radius: 3px;
    color: var(--gray-text-color-v1);
    border: var(--dialog-border-value);
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out, max-height 0s linear 0.25s;
}

@media (min-width: 992px) {
    .cart-dropdown {
        width: 450px;
    }
}

@media (max-width: 991px) {
    .cart-dropdown {
        top: calc(100% + 19px);
        bottom: 0;
        right: -15px;
        width: 100vw;
        height: calc(100vh - 80px);
    }
}

.cart-dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1), visibility 0.4s linear;
}

.cart-dropdown .dropdown-dialog-inner {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    overflow: hidden;
}

.dropdown-dialog-inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.site-cart .cart-title {
    padding: 0 20px;
    margin-bottom: 15px;
    text-align: center;
}

.site-cart .cart-title p {
    padding: 6px 30px;
    border: var(--CO-gray-border-value);
    background-color: var(--CO-gray-background-color);
    border-radius: 4px;
    color: var(--black-text-color);
    font-weight: 500;
    font-size: 16px;
}

.cart-view::before {
    display: table;
    content: "";
}

.cart-view::after {
    display: table;
    content: "";
    clear: both;
}

.cart-view .cart-view-scroll {
    padding: 0 20px;
}

/* scroll bar property */

@media (min-width: 992px) {
    .cart-view .cart-view-scroll {
        overflow-y: scroll;
        max-height: 320px;
        overscroll-behavior: none;
    }
}

@media (min-width: 992px) {
    .cart-view .cart-view-scroll::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }
}

@media (min-width: 992px) {
    .cart-view .cart-view-scroll::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background: #e1e3e4;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

@media (min-width: 992px) {
    .cart-view .cart-view-scroll::-webkit-scrollbar-track {
        border-radius: 0px;
    }
}

/* ////// */

.hidden {
    display: none !important;
}

.cart-view table td.img img {
    width: 65px;
    border: 1px solid #ededed;
    max-width: none;
    vertical-align: middle;
}

.cart-view table td .pro-title {
    padding-right: 30px;
}

table#cart-view-inner tr td:last-child {
    padding: 0 10px;
}

table#cart-view-inner .item-cart-empty td {
    text-align: center;
}

.cart-view table .item-cart-empty td .svgico-mini-cart {
    padding: 10px 0 5px;
}

.cart-view table .item-cart-empty td .svgico-mini-cart svg {
    width: 50px;
    height: 50px;
    margin: auto;
    cursor: unset;
}

.cart-view .horizontal-splitline {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: var(--CO--gray-line-color);
}

.cart-view .cart-view-total {
    padding: 0 20px;
}

.cart-view table {
    width: 100%;
    background: transparent;
    border-collapse: collapse;
}

table tr td, table tr th {
    padding: 10px;
    text-align: left;
}

table tr td:first-child {
    font-size: 12px;
    padding-left: 0px;
}

.cart-view table #total-view-cart {
    font-weight: 600;
    font-size: 16px;
    color: red;
}

table tr td:last-child {
    text-align: right;
}

.cart-view a.linktocheckout, .cart-view a.linktocart {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 100%;
    padding: 14px 15px;
    border: var(--CO-theme-border-value);
    color: var(--white-text-color);
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    line-height: normal;
}

.cart-view a.linktocheckout:hover, .cart-view a.linktocart:hover {
    background-color: var(--white-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-text-color);
}

.cart-view a.linktocheckout:hover::before, .cart-view a.linktocart:hover::before {
    transform: scale(0, 1);
    transform-origin: right center;
}

.cart-view a.linktocheckout::before, .cart-view a.linktocart::before {
    background-color: var(--theme-color);
    position: absolute;
    z-index: -1;
    transform-origin: left center;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.count-holder {
    position: absolute;
    z-index: -1;
    top: 13px;
    height: 18px;
    line-height: 18px;
    left: -10px;
    right: 0;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    overflow: hidden;
}

@media (min-width: 992px) {
    .count-holder {
        color: #252a2b;
    }
}

.count-holder span {
    position: relative;
    top: 0px;
    animation: scroll-out 0.3s ease-in-out;
}

.count-holder span.active {
    animation: scroll-in 0.3s ease-in-out;
}

@keyframes scroll-in {
    0% {
        top: 2px;
    }
    49% {
        top: 19px;
    }
    50% {
        top: -14px;
    }
    80% {
        top: 0;      
    }
    100% {
        top: 2px;
    }
}

@keyframes scroll-out {
    0% {
        top: 2px;
    }
    49% {
        top: -14px;
    }
    50% {
        top: 19px;
    }
    100% {
        top: 2px;
    }
}

.close-cart {
    display: none;
    position: absolute;
}

@media (max-width: 991px) {
    .header {
        padding-top: 20px;
    }

    .m-left-header {
        display: block;
    }

    .header-inner {
        padding-bottom: 20px;
    }

    .header-middle {
        display: none !important;
    }

    .m-popup-icon {
        display: block;
    }
}

.header .m-search {
    display: none;
    padding: 5px;
    position: relative;
}

@media (max-width: 991px) {
    .header .m-search {
        display: block;
        border-top: var(--gray-border-value);
    }
}

.header .m-search-inner {
    position: relative;
}

.header .m-search-input {
    padding: 0 40px 0 10px;
    height: 32px;
    font-size: 12px;
    background-color: var(--foam-background-color);
    border: var(--gray-border-value);
    color: var(--dark-text-color-v1);
    font-weight: 500;
    width: 100%;
    transition: all 0.15s linear;
}

.header .m-search-input:focus {
    background-color: var(--white-background-color);
}

.header .m-search .m-close-search {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 100;
    margin: auto;
    height: 24px;
    width: 40px;
    text-align: center;
    visibility: hidden;
    background: transparent;
}

.header .m-search .m-close-search svg {
    width: 20px;
    opacity: 0.4;
    user-select: none;
}

.header .m-search .m-close-search.active {
    visibility: visible;
}

.header .m-search-button {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 32px;
    line-height: 32px;
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.header .m-search-button svg {
    width: 14px;
    height: 30px;
    opacity: 0.4;
    user-select: none;
}

.footer {
    width: 100%;
}

.top-footer {
    background: var(--foam-background-color);
    padding: 15px;
}

.top-footer .inner {
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .top-footer .inner {
        max-width: 1300px;
        padding: 0 85px;
    }
}

.top-footer::before, .top-footer .inner::before {
    display: grid;
    content: " ";
}

.top-footer::after, .top-footer .inner::after {
    display: grid;
    content: " ";
    clear: both;
}

.top-footer .left, .top-footer .right {
    width: 100%;
    float: left;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .top-footer .left {
        width: 100%;
    }
    .top-footer .right {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .top-footer .left {
        width: 66.66666667%;
    }
    .top-footer .right {
        width: 33.33333333%;
    }
}

.top-footer .left .newsletter-area {
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .top-footer .left .newsletter-area {
        flex-direction: column;
    }
}

.top-footer .newsletter-area .title, .top-footer .sp {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .top-footer .newsletter-area .title {
        margin-bottom: 10px;
    }
}

.top-footer svg {
    width: 20px;
    margin-right: 10px;
}

.top-footer .newsletter-area h4 {
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--dark-text-color-v1);
}

@media (min-width: 992px) {
    .top-footer .newsletter-area .title {
        width: 32%;
        border-right: var(--light-border-value-v1);
        margin-right: 20px;
    }
}

.top-footer .form {
    width: 100%;
    display: inline-block;
    position: relative;
}

.top-footer .form input {
    height: 46px;
}

.top-footer .form input, .top-footer .form input textarea {
    border: var(--light-border-value-v1);
    font-weight: 500;
    padding: 0 20px;
    background-color: var(--lighter-gray-background-color);
    color: var(--dark-text-color-v1);
    width: 100%;
}

.top-footer .form button {
    position: absolute;
    padding: 13px 25px;
    right: 0;
    top: 0;
    letter-spacing: 1px;
    z-index: 2;
    border: var(--light-border-value-v1);
    border-color: var(--theme-border-color);
    color: var(--white-text-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.top-footer .form button:hover {
    background-color: var(--white-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-text-color);
}

.top-footer .form button:hover:before {
    transform: scale(0, 1);
    transform-origin: right center;
}

.top-footer .form button::before {
    background-color: var(--theme-color);
    position: absolute;
    z-index: -1;
    transform-origin: left center;
    content: '';
    display: block;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.top-footer .right {
    margin: 10px 0;
}

.top-footer .right p {
    line-height: 24px;
}

.top-footer .right p span {
    color: red;
    cursor: pointer;
}

.footer .introduce-box, .footer .link-box, .footer .contact-box, .footer .plugin-box {
    width: 100%;
    float: left;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .footer .introduce-box {
        width: 50%;
    }
    .footer .link-box {
        width: 50%;
    }
    .footer .contact-box {
        width: 50%;
    }
    .footer .plugin-box {
        width: 50%;
    }
    .plugin-fb-page {
        width: 320px;
    }
}

@media (min-width: 992px) {
    .footer .introduce-box {
        width: 33.33333333%;
    }
    .footer .link-box {
        width: 16.66666667%;
    }
    .footer .contact-box {
        width: 25%;
    }
    .footer .plugin-box {
        width: 25%;
    }
    .plugin-fb-page {
        width: 100%;
    }
}


.main-footer {
    padding: 40px 0 30px;
    border-top: var(--light-border-value-v1);
}

@media (min-width: 1200px) {
    .main-footer .inner {
        max-width: 1600px;
        padding: 0 85px;
    }
}

.main-footer::before, .main-footer .inner::before {
    display: table;
    content: " ";
}
.main-footer::after, .main-footer .inner::after {
    display: table;
    content: " ";
    clear: both;
}

.main-footer .introduce-box .inner {
    margin-bottom: 15px;
}

.main-footer .introduce-box img {
    width: 150px;
}

.main-footer h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 30px;
    color: var(--dark-text-color-v1);
}

.main-footer .introduce-box p {
    margin-bottom: 10px;
}

.main-footer ul {
    margin-bottom: 15px;
}

.main-footer a {
    color: var(--dark-text-color-v1);
    line-height: 30px;
    transition: opacity 0.15s linear, color 0.15s linear, background 0.15s linear;
}

.main-footer a:hover {
    color: #b82927;
}

.main-footer svg {
    width: 12px;
}

.main-footer .contact-box > div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-footer .contact-box svg {
    margin-right: 5px;
}

.plugin-fb-page {
    height: 150px;
    overflow: hidden;
}

.pfp-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-background-box {
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-background-box img {
    height: 100%;
    max-width: 500px;
}

.plugin-fb-page .title-box {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    display: flex;
}

.plugin-fb-page .title-box {
    display: flex;
    padding: 8px;
}

.plugin-fb-page .avatar-box {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    box-shadow: var(--default-box-shadow-value);
    background: url(../images/quaymaudich/fb-avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.plugin-fb-page .title {
    margin-left: 4px;
}

.plugin-fb-page .title p:nth-child(1) {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    color: var(--white-text-color);
    text-shadow: var(--default-text-shadow-value);
}

.plugin-fb-page .title p:nth-child(2) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
    color: var(--white-text-color);
    text-shadow: var(--default-text-shadow-value);
}

.plugin-fb-page .follow-button {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: var(--default-box-border-value);
    border-radius: 2px;
    background-color: var(--gray-background-color);
    background-clip: padding-box;
    overflow: hidden;
    cursor: pointer;
}

.plugin-fb-page .follow-button:hover {
    background-color: #ebedf0;
}

.plugin-fb-page .follow-button svg {
    margin-right: 3px;
}

.plugin-fb-page .follow-button a {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif !important;
    line-height: 22px;
    color: var(--dark-text-color-v2);
    font-weight: bold;
}

.bottom-footer {
    text-align: center;
    border-top: var(--light-border-value-v1);
    padding: 20px 0;
}

.bottom-footer p {
    line-height: 21px;
}