:root {
    --default-text-color: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.meme {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.meme p {
    font-weight: bold;
    animation: unic072 2s infinite;
}

@keyframes unic072 {
    0% {
        color: red;
    }
    10% {
        color: green;
    }
    20% {
        color: blue;
    }
    30% {
        color: hotpink;
    }
    40% {
        color: orange; 
    }   
    50% {
        color: palevioletred;
    }
    60% {
        color: purple;
    }
    70% {
        color: royalblue;
    }
    80% {
        color: indianred;
    }
    90% {
        color: maroon;
    }
    100% {
        color: pink;
    }
}