:root {
    --theme-color: #4c5b29;
    --lighter-theme-color: #507820;
    
    --white-background-color: #ffffff;
    --black-background-color: #000000;
    --default-background-color-hover: #f1f1f1;
    --darker-background-color: #3c5e2c;
    --gray-background-color: #d9d9d9;

    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --default-text-color: #232323;
    --lighter-text-color: #555555;

    --white-border-color: #ffffff;
    --black-border-color: #000000;
    --gray-border-color: #bebfc0;
    --theme-border-color: #3c5e2c;
    --white-border-value: 1px solid #ffffff;
    --black-border-value: 1px solid #000000;
    --gray-border-value: 1px solid #ced4da;
    --light-border-value: 1px solid #dddddd;
    --dark-border-value: 1px solid #232323;
    --theme-border-value: 1px solid #3c5e2c;

    --default-input-text: #495057;

    --vt-palette-brown: #a16b56;
    --vt-palette-skin: #e0a370;
    --vt-palette-old: #dec584;
    --vt-palette-lightold: #f5f3eb;
    --vt-palette-ocean: #709f9d;
    --vt-palette-darkocean: #567d89;

    --default-shadow-value: 0px 5px 20px rgba(0, 0, 0, 0.15);
}

@font-face {
    font-family: 'NittiTypewriter';
    src: url(../fonts/NittiTypewriter-21d2137501e11e71a7bc1d5f496a6b7f.otf);
}
@font-face {
    font-family: 'BeauLuloClean-OneBold';
    src: url(../fonts/BeauLuloClean-OneBold-4ce34c0eaf26a1818d6dc4bae56dbaf8.otf);
}

.container {
    display: flex;
    justify-content: center;
}

.post-list {
    width: 900px;
    padding: 20px 0;
    display: grid;
}

.post-list .horizontal-splitline {
    width: 100%;
    height: 1px;
    background-color: var(--gray-background-color);
    margin: 20px 0;
}

.post-cell {
    min-height: 170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-thumbnail {
    width: 300px;
    height: 170px;
    border: var(--dark-border-value);
    overflow: hidden;
    background-color: var(--vt-palette-lightold);
}

.post-thumbnail > img {
    width: 100%;
    height: 100%;
    transition: all 0.25s ease;
}

.post-thumbnail:hover > img {
    transform: scale(1.05);
}

.post-title {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin: 0 20px;
}

.post-title a {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: var(--theme-color);
}

.post-title p {
    margin-top: 15px;
}

.more-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.more-wrapper {
    width: 90%;
    padding: 13px 0;
    border: var(--gray-border-value);
    border-radius: 5px;
    background-color: var(--white-background-color);
    display: flex;
    justify-content: center;
}

.more-wrapper > p {
    color: var(--theme-color);
    font-weight: bold;
    cursor: default;
}

.more-wrapper:active {
    background-color: var(--gray-background-color);
}

@media (max-width: 1000px) {
    .post-thumbnail {
        margin-bottom: 20px;
    }

    .post-title {
        text-align: center;
    }
}